@model HRIS.Models.WorkFlowDocument

@{
    ViewData["Title"] = "Details";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>WorkFlow Document Details</h5>
                </div>

                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div>
                                <ul class="nav nav-tabs md-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#document" role="tab">Document</a>
                                        <div class="slide"></div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
                                        <div class="slide"></div>
                                    </li>
                                </ul>

                                <div class="tab-content card-block">
                                    <div class="tab-pane active" id="document" role="tabpanel">
                                        <dl class="row">
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.No)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.No)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Type)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.Type)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Description)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.Description)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.UserRef)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.UserRef)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.LatestApprover)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.LatestApprover)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.FinalStatus)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.FinalStatus)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.Personnel)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.Personnel)
                                            </dd>
                                            <dt class="col-sm-2">
                                                @Html.DisplayNameFor(model => model.CreatedDate)
                                            </dt>
                                            <dd class="col-sm-10">
                                                @Html.DisplayFor(model => model.CreatedDate)
                                            </dd>
                                        </dl>
                                    </div>

                                    <div class="tab-pane" id="details" role="tabpanel">
                                        <dl class="row" id="items">
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id">Edit</a> |
                                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    let items = new Array();
    $(function () {
        let model = @Html.Raw(Json.Serialize(Model));
        $.ajax({
            type: 'GET',
            url: `/workFlowDocuments/fetchDocument?no=${model.No}`,
            contentType: 'application/json',
            success: function (response) {
                if (response.Success) {
                    response.Data = response.Data ? response.Data : {};
                    items = response.Data.WorkFlowDocumentDetails;
                    items = items ? items : new Array();
                    populateItemtable();
                }
            },
            failure: function (response) {
            }
        }).then(function () {
            // ...
        });
    });

    function populateItemtable() {
        let itemTableRows = new Array();
        items.forEach(i => {
            itemTableRows.push(`
                <dt class="col-sm-2">
				    Approver
			    </dt>
                <dd class="col-sm-10">
                    ${i.Approver}
                </dd>

                <dt class="col-sm-2">
				    Level
			    </dt>
                <dd class="col-sm-10">
                    ${i.Level}
                </dd>

                <dt class="col-sm-2">
				    UserCode
			    </dt>
                <dd class="col-sm-10">
                    ${i.UserCode}
                </dd>

                <dt class="col-sm-2">
				    Status
			    </dt>
                <dd class="col-sm-10">
                    ${i.Status}
                </dd>

                <dt class="col-sm-2">
				    Reason
			    </dt>
                <dd class="col-sm-10">
                    ${i.Reason}
                </dd><hr>`)
        });

        $('#items').html(itemTableRows);
    }
    </script>
}
