@model HRIS.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Employee Details</h5>
                </div>

                <div class="card-block">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.IdNo)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.IdNo)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DateOfBirth)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.HiredDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.HiredDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Location)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Location)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.LeaveGroup)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LeaveGroup)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Gender)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Department)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Department)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.MaritalStatus)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.MaritalStatus)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Spouse)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Spouse)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PIN)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PIN)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NSSF)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NSSF)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.NHIF)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.NHIF)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Division)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Division)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Race)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Race)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Religion)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Religion)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Disability)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Disability)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Country)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Country)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.County)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.County)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.City)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.City)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Address)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PostalCode)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PostalCode)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.JobCategory)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.JobCategory)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EmploymentCategory)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.EmploymentCategory)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Notes)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Notes)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.PersonalEmail)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.PersonalEmail)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.WorkEmail)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.WorkEmail)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Cell)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Cell)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TelNo)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TelNo)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Web)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Web)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Terminated)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Terminated)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TerminationDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TerminationDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TerminationType)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TerminationType)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.TerminationNotes)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.TerminationNotes)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Supervisor)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Supervisor)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Language)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Language)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Personnel)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Personnel)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CreatedDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ModifiedDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ModifiedDate)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.EmployeeNo">Edit</a> |
                        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>