@model HRIS.Models.Holiday

@{
    ViewData["Title"] = "Create";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Create Holiday</h5>
                </div>

                <div class="card-block">
                    @if (!ViewBag.success)
                    {
                        <div class="row alert alert-warning">
                            <div class="col-md-12 col-sm-12 text-center">
                                <strong>@TempData["message"]</strong>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form asp-action="Create">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date" class="control-label"></label>
                                    <input asp-for="Date" class="form-control" type="date" />
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Period" class="control-label"></label>
                                    <select asp-for="Period" asp-items="@ViewBag.periods" class="form-control">
                                    </select>
                                    <span asp-validation-for="Period" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Type" class="control-label"></label>
                                    <select asp-for="Type" asp-items="@ViewBag.dayTypes" class="form-control">
                                    </select>
                                    <span asp-validation-for="Type" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Branch" class="control-label"></label>
                                    <select asp-for="Branch" asp-items="@ViewBag.branches" class="form-control">
                                    </select>
                                    <span asp-validation-for="Branch" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Notes" class="control-label"></label>
                                    <input asp-for="Notes" class="form-control" />
                                    <span asp-validation-for="Notes" class="text-danger"></span>
                                </div>
                                <div class="form-group form-check">
                                    <label class="form-check-label">
                                        <input class="form-check-input" asp-for="Recur" /> @Html.DisplayNameFor(model => model.Recur)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
