@model HRIS.Models.LeaveApplication

@{
    ViewData["Title"] = "Details";
}

<div class="main-body">
    <div class="page-wrapper">
        <div class="page-body">
            <div class="card">
                <div class="card-header">
                    <h5>Leave Application Details</h5>
                </div>

                <div class="card-block">
                    <div>
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EmployeeNo)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.EmployeeNo)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.StartDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.StartDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EndDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.EndDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.StartTime)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.StartTime)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.EndTime)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.EndTime)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Days)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Days)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Type)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Type)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Period)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Period)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Notes)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Notes)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Status)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Status)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Personnel)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Personnel)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CreatedDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.ModifiedDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.ModifiedDate)
                            </dd>
                        </dl>
                    </div>
                    <div>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.LeaveNo">Edit</a> |
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="styleSelector">

    </div>
</div>